body  {
  font-size: 16px;
  line-height: 1.5;
}

/* header */
#site-header .navbar  {
  border-radius: 0;
  border: none;
  margin: 0;
}

/* main section */
#site-main  {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* footer */
#site-footer  {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 12px;
  background: #222;
  color: #999;
}

.article-container {
  padding: 0 100px 0 100px;
  border: 5px solid;
  border-color: #ACF4FF;
  border-radius: 20px
}

.article {
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding-left: 10px;
}

.article-title {
  border-bottom: 1px solid;
}
