<h1>Articles</h1>
<div class="article-container">
  <% for(var article of articles){%>
    <div class="article">
      <h3 class="article-title"><a href=<%="https://forum.bigcommerce.com/s/question/" + article.url%>><%= article.name%></a></h3>
      <h4 class="article-desc"><%= article.desc%></h4> <br>
    </div>
  <%}%>
</div>
