<div class="jumbotron text-center">
  <h1>Help</h1>
  <h4>This is a tool to help clear clutter from the community by giving merchants a direct link to a proven solution.</h4>
  <ol>
    <li>Make sure the solution is not already posted</li>
    <li>Check to make sure the solution is proven to work</li>
    <li>Get the Post ID from the link url after 'question/' and before the post '/title' <img src="/img/postID.png" alt="post ID"></li>
    <li>Enter tags seperated by comma and using lowercase <span id="tag-example">Example: tag1,tag2,tag3</span></li>
  </ol>
</div>
