<div class="jumbotron text-center">
  <h1>Submit New Article</h1>

  <p>If you have not submitted before click <a href="/help">here</a></p>
  <form class="submit-form" action="/submit" method="post">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
    </div>

    <div class="form-group">
      <label for="desc">Short Description</label>
      <input type="text" name="desc" value="">
    </div>

    <div class="form-group">
      <label for="url">Post ID</label>
      <input type="text" name="url" value="">
    </div>

    <div class="form-group">
      <label for="tags">Tags-Seperate by Comma</label>
      <input type="text" name="tags" value="">
    </div>
    <button type="submit" name="button">Submit</button>
  </form>
</div>
